<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/partials/header.css">
    <link rel="stylesheet" href="style/partials/forms.css">
    <link rel="stylesheet" href="style/partials/give-classes.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap">

    <title>Study</title>

    <script src="scripts/addField.js" defer></script>
</head>
<body id="page-give-classes">
    <div id="container">
        <header id="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img class="logo-top-bar" src="images/logo.svg" alt="Logo">
            </div>

            <div class="header-content">
                <strong>Que incrível que você quer dar aulas.</strong>
                <p>O primeiro passo, é preencher esse formulário de inscrição.</p>
            </div>
        </header>

        <main id="main-content">
            <form action="" id="create-class">
                <fieldset>
                    <Legend>Seus dados</Legend>

                    <div class="input-block">
                        <label for="name">Nome Completo</label>
                        <input name="name" type="text" required>
                    </div>
                    <div class="input-block">
                    	<label for="avatar">Link da sua foto <small>(comece com http://)</small></label>
                    	<input name="avatar" type="text">
                    </div>
                    <div class="input-block">
                        <label for="whatsapp">Whatsapp <small>(use somente números)</small></label>
                        <input name="whatsapp" type="text" required>
                    </div>
                    <div class="textarea-block">
                        <label for="bio">Biografia</label>
                        <textarea name="bio" id="bio"></textarea>
                    </div>
                </fieldset>

                <fieldset>
                    <Legend>Sobre a aula</Legend>

                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="select-materia" required>
                            <option value="">Selecione uma opção</option>
                            {%for subject in subjects %}
                                <option value="{{loop.index}}">{{subject}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="cost">Custo da sua hora por aula <small>(em R$)</small></label>
                        <input name="cost" type="cost" required>
                    </div>
                </fieldset>

                <fieldset id="schedule-items">
                    <Legend>Horários disponíveis <button type="button" id="add-time-button">+ Novo Horário</button> </Legend>
                    
                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="select-week">Dia da semana</label>
                            <select name="select-week[]" required>
                                <option value="" disabled="disabled">Selecione uma opção</option>
                                {%for week in weeks %}
                                    <option value="{{loop.index0}}">{{week}}</option>
                                {%endfor%}
                        </select>
                        </div>

                        <div class="input-block" id="block1">
                            <label for="time-from">Das:</label>
                            <input name="time-from[]" type="time" value="00:00" required>
                        </div>

                        <div class="input-block" id="block2">
                            <label for="time-to">Até:</label>
                            <input name="time-to[]" type="time" value="00:00" required>
                        </div>
                    </div>
                </fieldset>
            </form>
            <footer>
                <div class="text-footer">
                    <img src="images/icons/warning.svg" alt="Atenção">
                    <p>
                        importante! <br> 
                        Preencha todos os dados
                    </p>
                </div>
    
                <button form="create-class" type="submit" id="submit-button">Salvar cadastro</button>
            </footer>
        </main>
    </div>
</body>
</html>