body{
    background-color: var(--main-backgroudn-color);
    width: 100vw;
    font-size: 1rem;
}

header, .header-content {
    display: flex;
    width: 100%
}

.content-header {
    margin: 100px auto 0;

    display: inline-block;
}

.proffy img {
    width: 434px;
    height: 127px;
}

.proffy figcaption {
    font: normal 2rem/1.5 "Poppins", Arial, sans-serif;
    color: var(--text-legend-image);
}

.imagen img {
    width: 599px;
    height: 350px;
}